.messageWrapper {
  display: flex;
  max-width: 80%;
  gap: 12px;
  word-break: break-word;

  &__bot {
    justify-self: flex-start;
  }

  &__human {
    justify-self: flex-end;
  }

  &__info {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;

    &--human {
      align-items: flex-end;
    }
  }
}

.message {
  display: flex;
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
  height: fit-content;

  &__bot {
    justify-self: flex-start;
    background-color: #ffffff;
    color: #102142;
    border-radius: 0 12px 12px 12px;
  }

  &__human {
    justify-self: flex-end;
    border-radius: 12px 0 12px 12px;
    background-color: #4786ff;
    color: #ffffff;
    // border: 1px solid #F6C48F;
    // box-shadow: inset 0px 2px 2px #EAECEC;
  }
}
