.chat {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 10px;
  overflow: hidden;

  &__title {
    padding: 4px;
    background-color: lightgrey;
    border-radius: 10px 4px;
  }
}

.chat-input__container {
  background-color: #EFEFEF;
  margin-top: 25px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;

  span {
    font-size: 14px;
  }
}